.checkout-container{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto 30rem;

  .personal-data-container{
    display: flex;
    flex-direction: column;
  }

  .shopping-cart-container{
    display: flex;
    flex-direction: column;

    .card-data-container{
      background-color: rgba(0, 0, 0, 0.05);
      padding: 2rem;
      color: rgba(0, 0, 0, 0.5);
      font-size: 1.5rem;
      border-radius: 0.3rem;
      text-align: center;
    }

    .checkout-error{
      color: red;
      align-self: center;
      font-size: 1.2rem;
      background-color: rgba(255, 0, 0, 0.1);
      width: 100%;
      text-align: center;
      padding: 0.5rem;
    }

    button{
      background-color: #45c745;
      font-size: 1.2rem;
    }
  }

  .name-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0.5rem;
    input{
      width: 100%
    }
  }
}

input{
  font: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0.5rem 0;
  padding: 0.5rem;
  outline-color: transparent;
  transition: outline-color 0.3s;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.2rem;

  &:focus{
    outline-color: #4282b8;
  }
}