.home-collection-container{
  .cards-container{
    display: flex;
    padding: 2rem;

    .card{
      width: 10rem;
      height: 10rem;
      border: 1px solid #ececec;
      margin: 0.3rem;
      background-color: #fcfcfc;
      transition: background-color 0.3s;
      color: #777777;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}