.item-list-container{
  display: flex;
  flex-direction: column;

  .item-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    grid-gap: 1rem;

    .item-card{
      cursor: pointer;

      .price{
        font-weight: 700;
      }
      img{
        width: 100%;
      }

      &:hover{
        img{
          opacity: 0.8;
        }
      }
    }

    a{
      opacity: 1;
    }
  }
}