@import "base";
@import "navbar";
@import "footer";
@import "slider";
@import "home_collection";
@import "item_list";
@import "details_page";
@import "shopping_cart";

.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-container{
  max-width: $content-width;
  margin: 1rem auto;
}